* {
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141414;
}

.container {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.container label {
  margin-bottom: 6px;
  font-family: "JetBrains Mono";
  font-size: 16px;
  font-weight: 400;
  color: #f9f9f9;
  transition: 0.4s;
}

.container label:hover {
  background-color: transparent;
  color: hotpink;
  transform: scale(1);
}

.container input {
  margin-bottom: 30px;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  font-family: "JetBrains Mono";
  font-size: 16px;
  font-weight: 200;
}

.container button {
  margin-bottom: 30px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s;
}

.container button:hover {
  background-color: hotpink;
  color: #f9f9f9;
  transform: scale(1.05);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.res {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-family: "JetBrains Mono";
  font-size: 16px;
  font-weight: 400;
}

.span--placeholder {
  color: #757575;
  font-weight: 200;
}

.btn-limpar {
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: cover;
  background-color: #f9f9f9;
  background-image: url(./btn-limpar.png);
  border: none;
  border-radius: 6px;
  color: #141414;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.btn-limpar:hover {
  background-color: hotpink;
  background-image: url(./btn-limpar-hover.png);
  color: #f9f9f9;
  transform: scale(1.15);
}
