* {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141414;
}

.container {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.container label {
  margin-bottom: 4px;
  font-family: "JetBrains Mono";
  font-size: 16px;
  font-weight: 400;
  color: #f9f9f9;
  transition: 0.4s;
}

.container label:hover {
  background-color: transparent;
  color: hotpink;
  transform: scale(1);
}

.container input {
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  font-family: "JetBrains Mono";
  font-size: 16px;
  font-weight: 200;
}

.container button {
  margin: 0 auto;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s;
}

.container button:hover {
  background-color: hotpink;
  color: #f9f9f9;
  transform: scale(1.05);
}

/* Div da Reposta */
.res {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 20px;
  margin-top: 20px;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: "JetBrains Mono";
  font-size: 16px;
  font-weight: 400;
}
